html {
  scroll-behavior: smooth;
}
.btn.btn-social-icon {
  font-size: 30px;
  color: #292929;
}
.night {
  font-size: 30px;
}
.btn.btn-social-icon:hover {
  color: tomato;
  transform: scale(1.1);
}
#contactme {
  background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
  color: white;
}
body {
  color: black;
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 46%,
    #c5c1ff 56%,
    #ffbac3 100%
  );
}

.fixed-bg {
  background-image: url("./javelin.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
  background-blend-mode: multiply;
  color: black;
  padding-top: 150px;
  padding-bottom: 100px;
  border-radius: 20px;
}
.headi {
  padding-top: 80px;
}
.pd {
  padding: 50px;
}
.container-fluid {
  border-radius: 10px;
}
.thumbnail {
  padding: 0 0 10px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 60%;
  height: 60%;
  margin-bottom: 10px;
}
img:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}

#red {
  color: red;
}
